Package: centreon-connector-perl
Version: 21.04.2-1
Section: net
Priority: extra
Architecture: amd64
Depends: centreon-clib (>= 21.04.2), libperl5.24 (>= 5.28.0)
Installed-Size: 1292
Maintainer: Eric Coquard <eric.coquard@sugarbug.fr>
Description: Perl connector for Centreon Engine.
